{% extends "base.html" %}
{% block title %}Create a Tutorial | PyREPL{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{{url_for('static', filename='style/ansi.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style/codemirror.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style/blackboard.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style/pyrepl.css')}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
<body>
<h1 class="standout">CREATE</h1>
<div class="wrapper">
  <ul id="ex-list">
    <li class="selected"><strong>1</strong></li>
    <li><strong>2</strong></li>
    <li><strong>3</strong></li>
    <li class="new-ex"><strong>+</strong></li>
  </ul>
  <div id="console" class="create-console"></div>
  <div id="exercise"></div>

  <form>
    <div id="exercise_input">
      <textarea name="task" placeholder="###Describe the exercise task. Markdown allowed." rows="5" cols="50" ></textarea>
      <textarea id="ex-code" name="test">
function () {
  // Validations go here. Return true or false.
  return true;
}</textarea>
      <input type="submit" />
    </div>
  </form>
</div>

<!-- Scripts at the bottom! -->
<script src="http://caja.appspot.com/caja.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/jsrepl.js')}}" id="jsrepl-script"></script>
<script src="{{url_for('static', filename='js/jqconsole-2.7.min.js')}}"></script>
<script src="{{url_for('static', filename='js/markdown.js')}}"></script>
<script src="{{url_for('static', filename='js/pyrepl.js')}}"></script>
<script src="{{url_for('static', filename='js/languages.js')}}"></script>
<script src="{{url_for('static', filename='js/create.js')}}"></script>
<script src="{{url_for('static', filename='js/query.js')}}"></script>
<script src="{{url_for('static', filename='js/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='js/javascript.js')}}"></script>
</body>
{% endblock %}