{% extends "base.html" %}
{% block title %}Create a Tutorial | PyREPL{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{{url_for('static', filename='style/ansi.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style/codemirror.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style/ambiance.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style/pyrepl.css')}}"/>
  </head>
<body>
<div class="wrapper wide hidden">
  <h1 class="standout">CREATE</h1>
  <h2 class="title"></h2>
  <ul id="ex-list"></ul>
  <div id="console" class="create-console"></div>
  <div id="exercise"></div>
  <div id="exercise-input">
    <textarea id="ex-description" name="task"></textarea>
    <textarea id="ex-code" name="test"></textarea>
    {# <input type="submit" value="Save"/> #}
  </div>
</div>

<!-- Scripts at the bottom! -->
<script src="http://caja.appspot.com/caja.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/jsrepl.js')}}" id="jsrepl-script"></script>
<script src="{{url_for('static', filename='js/jqconsole-2.7.min.js')}}"></script>
<script src="{{url_for('static', filename='js/markdown-parser.js')}}"></script>
<script src="{{url_for('static', filename='js/pyrepl.js')}}"></script>
<script src="{{url_for('static', filename='js/languages.js')}}"></script>
<script src="{{url_for('static', filename='js/create.js')}}"></script>
<script src="{{url_for('static', filename='js/query.js')}}"></script>
<script src="{{url_for('static', filename='js/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='js/javascript.js')}}"></script>
<script src="{{url_for('static', filename='js/markdown.js')}}"></script>
<script src="{{url_for('static', filename='js/xml.js')}}"></script>
</body>
{% endblock %}