{% extends "base.html" %}
{% block main %}
<h1 class="standout">PyREPL</h1>
<div class="wrapper">
  <div id="console"></div>
  <div id="exercise">
  </div>
</div>

<!-- Scripts at the bottom! -->
<script src="http://caja.appspot.com/caja.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/jsrepl.js')}}" id="jsrepl-script"></script>
<script src="{{url_for('static', filename='js/jqconsole-2.7.min.js')}}"></script>
<script src="{{url_for('static', filename='js/markdown.js')}}"></script>
<script src="{{url_for('static', filename='js/pyrepl.js')}}"></script>
<script src="{{url_for('static', filename='js/client.js')}}"></script>
<script src="{{url_for('static', filename='js/languages.js')}}"></script>
{% endblock %}